<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/javascripts/bower_components/fontawesome/css/font-awesome.min.css'>
    <link rel="stylesheet" href='/javascripts/bower_components/swiper/dist/css/swiper.css'>
</head>

<body>
    <main id="mainContent">
        <div class="site-wrapper">
        	<!-- INTRODUCTION -->
            <section id="introduction">
                <div class="site-wrapper">
                    <div class="site-wrapper">
                    	<header>
                    	<h1>Yo! Docker + Express JS</h1>
                    	<p class="subheading">Together as one...may all your dreams come true.</p>
                    	</header>
                        <div class="row">

                            <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="tech-feature box">
                                    <h3>Docker Composed</h3>
                                    <p>Fully Dockerized and ready to go.</p>
                                    <a class="view-collection" href="https://www.docker.com/">Visit Website <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>

                            <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="tech-feature box">
                                    <h3>Node.js + Express</h3>
                                    <p>Rediculously awesome Web App Framework</p>
                                    <a class="view-collection" href="https://expressjs.com/">Learn More <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>

                            <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="tech-feature box">
                                    <h3>Flexboxgrid</h3>
                                    <p>A Sassy Grid system based on Flexbox.</p>
                                    <a class="view-collection" href="http://flexboxgrid.com/">Visit Website <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>

                            <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="tech-feature box">
                                    <h3>Lazysizes</h3>
                                    <p>High performance and SEO friendly lazy loader for images, videos, etc.</p>
                                    <a class="view-collection" href="https://github.com/aFarkas/lazysizes">View on Github <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section id="introduction__lazysizes_demo">
            	<img class="lazyload img-responsive" data-src="/images/pairodime-lrg-size.png" alt="Large PAIRODIME logo used to display the poswer of Lazysizes." />
		        <!-- <div class="intrinsic intrinsic-2">
		          <iframe data-src="//www.youtube.com/embed/AYeMvWKBu84" class="lazyload" frameborder="0" allowfullscreen></iframe> 
		        </div> -->
            </section>

        </div>
    </main>


    <script src="/javascripts/bower_components/lazysizes/lazysizes.min.js"></script>
    <script src="/javascripts/bower_components/lazysizes/plugins/unveilhooks/ls.unveilhooks.min.js"></script>
    <script src="/javascripts/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/javascripts/bower_components/swiper/dist/js/swiper.min.js"></script>

    <script src="/javascripts/greensock/TweenMax.min.js"></script>
    <script src="/javascripts/greensock/easing/CustomEase.min.js"></script>
    <script src="/javascripts/greensock/plugins/ScrollToPlugin.min.js"></script>
    <script src="/javascripts/greensock/plugins/MorphSVGPlugin.min.js"></script>
    <script src="/javascripts/greensock/plugins/DrawSVGPlugin.min.js"></script>

    <script src="/javascripts/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/javascripts/scrollmagic/plugins/animation.gsap.min.js"></script>
    <script src="/javascripts/scrollmagic/plugins/debug.addIndicators.min.js"></script>

    <script src="/javascripts/script.js"></script>

</body>

</html>