// Swiper Customization - more can be foind in Bower Components
.swiper-nav-site-width {
  position: absolute;
  height: 30px;
  max-width: 1290px;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

// Swiper Pager

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2397999c'%2F%3E%3C%2Fsvg%3E");
  opacity: 0.4;
  transition: opacity 200ms;
  &:hover {
    opacity: 1;
  }
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2397999c'%2F%3E%3C%2Fsvg%3E");
  opacity: 0.4;
  transition: opacity 200ms;
  &:hover {
    opacity: 1;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid $orange;
  background-color: transparent;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: rgba(220, 62, 29, 0.4);
}

.swiper-zoom-container img {
  cursor: url("../images/svgs/cursor-magnify.svg"), auto;
}